<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <title>Deep Search</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Deep Search</a>
        </div>
        </div>
    </nav>
    

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <p>找到 {{ result_count }} 个结果 (用时 {{ result_secs }} 秒)</p>
          <img src="image/upload/{{ image_id }}.jpg" style="max-height: 100px;">
          <span>图片尺寸: {{ image_size }}</span>
        </div>
      </div>

      <hr>
      
      <div class="row">
        {% for path, score in image_list %}
        <div class="col-md-3">
          <p>Score: {{ score }}</p>
          <img src="{{ path }}" style="width:100%">
        </div>
        {% end %}
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>